.second-largest {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  max-width: 500px;
  margin: 40px auto;
  transition: background-color 0.3s ease;
  user-select: none;
}


.second-largest-title {
  font-size: 26px;
  font-weight: bold;
  margin-bottom: 23px;
  color: #003366;
  user-select: none;
}

.second-largest-form {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 100%;
  user-select: none;
}

.second-largest-input {
  padding: 12px;
  margin-bottom: 12px;
  border: 1px solid #b0c4de;
  border-radius: 16px;
  font-size: 16px;
}

.second-largest-input:focus {
  border-color: #0070f3;
  box-shadow: 0 0 5px rgba(0, 112, 243, 0.5);
}

.second-largest-button {
  padding: 12px;
  background-color: #0070f3;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.second-largest-button:hover {
  background-color: #005bb5;
  transform: scale(1.1);
}

.second-largest-error {
  color: red;
  margin-top: 16px;
  font-size: 20px;
  text-align: center;
  font-weight: bold;
}

.second-largest-result {
  color: #28a745;
  font-size: 20px;
  font-weight: bold;
  margin-top: 16px;
  text-align: center;
}
